@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-slate-800 bg-slate-900;
  overflow-x: hidden;
}

.glass-panel {
  @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-earth-green rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-earth-green-dark;
}
